html, body { height: 100%;margin: 0px;}

body {
	background-color: #CCCCCC;width: 1500px;font-size: 13.5px;padding: 5px;height:  calc(100% - 10px);
}
#canvasArea {
	display: flex;height: calc(100% - 190px);width: 100%;margin-top: 2px;
}
.canvasDiv {
	position: relative;
	height: 100%;width: 730px;overflow-y: scroll;overflow-x: visible;
	margin-top: 2px;
}
canvas {
	width: 708px;background-color: white;border: solid 1px gray;
	height: 1000px;
}
#topArea {
	width: 100%;display: flex;height:125px;
}
#topLeftArea,#topRightArea {
	width: 709px;
}

#input-bar{
	height:26px;font-size: 10px;
}
#input-bar button{
	height:26px;width: 45px;
}
#trimboxSetting {
	font-size: 14px;
}

input[type=file] {
	background-color: white;
	width: 96px;height:26px;
}

input[type=range] {
	height: 10px;
	padding: 0px;
	margin: 0px;
}

input[type=range][orient=vertical] {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 20px;
	margin: 0px;
}
select {
	width: 33%;
}

.setting {
	border: solid 1px white;
	padding: 3px;height:100px;
}
.rightSide {
	width: 100%;
	padding: 3px;
}
.leftSide {
	width: 50%;
	margin-top: 2px;
	margin-right: 1px;
}
#searchText{
	width: 35%;
}
#result {
	padding: 3px;
	margin-top: 2px;
}

#statusText {
	padding-left: 3px;
}

.titleText {
	width: 15em;
}

#log {
	width: 100%;
	background-color: white;
}

#progressbar {
	width: 100%;
}

#topSidebar {
	display: flex;height: 13px;
	margin-top: 6px;
	margin-bottom: 3px;
}

.trimBox {
	border: solid 2px rgba(250, 100, 100, 0.8);
	position: absolute;
	z-index: 10;
}
.edgeBox {
	border: solid 2px rgba(0, 190, 255, 0.8);
	position: absolute;
	z-index: 0;
}
.trimBox.selecting{
	border: solid 2px rgba(255, 0, 0, 0.8);
}

.OCRText {
	position: absolute;
	border: solid 1px rgba(0, 255, 255, 0.95)
}

.tboxSetting {
	width: 5em;
}

.guide.v {
	border: solid 1px rgba(0, 0, 255, 0.5);
	cursor: col-resize;
	position: absolute;
}

#Tilt_Correction {
	width:120px;
}
