body {
    background-color: #CCCCCC;
}

#topArea {
    font-size: 14px;
}

span {
    width: 15px;
}
#progressbar{
width : 100%;
}
canvas {
    border: solid 1px gray;
}

#inputDiv {
    margin: 0 0 0 8px;
}

#log {
	width: 707px;
	margin: 2px 0 0 48px;
	background-color: white;
}

#in {
    width: 707px;
    height: 1000px
}

#out {
    width: 707px;
    height: 1000px
}

.canvasDiv {
    background-color: white;
    position: relative;
}

.trimArea {
    border: solid 2px rgb(255, 0, 0,0.95);
    position: absolute;
}

.ocrText{
    position: absolute;
}

input[type=range] {
    height: 10px;
    padding: 0px;
    margin: 0px;
}

input[type=number] {
    width: 60px;
}

#title_text {
    width: 20em;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 10px;
    margin: 0 5px;
    padding: 0 0px;
}
